<section class="p-5">
  <div class="contact-title mt-5">
    <h1>CONTACT SECTION</h1>
    <span class="position-relative text-center"
      ><i class="fa-solid fa-star"></i
    ></span>
  </div>
  <div class="container w-50 py-5 mx-auto">
    <label for="userName" id="userName">userName : </label>
    <input
      type="text"
      class="w-100 mb-3 p-2"
      placeholder="userName"
      (input)="place($event)"
    />
    <label for="userAge" id="userAge">userAge : </label>
    <input
      type="text"
      class="w-100 mb-3 p-2"
      placeholder="userAge"
      (input)="place($event)"
    />
    <label for="userEmail" id="userEmail">userEmail : </label>
    <input
      type="text"
      class="w-100 mb-3 p-2"
      placeholder="userEmail"
      (input)="place($event)"
    />
    <label for="userPassword" id="userPassword">userPassword : </label>
    <input
      type="text"
      class="w-100 mb-3 p-2"
      placeholder="userPassword"
      (input)="place($event)"
    />
    <button type="button" class="btn btn-color">Send Message</button>
  </div>
</section>
